*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
$primary-color: #101924;
$secondry-color: #0D6EFD;
$border-color: #203247;
$font-color: #B6C6E3;
$gray-color: #8799AB;
$red-color: #E85347;
$green-color: #1EE0AC;
$yellow-color: #F4BD0E;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$border-radius: 2px;

//default style start here
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-400;
  color: $font-color;
}
section{
  margin: 20px 0;
}
ul{
  list-style-type: none;
  padding-left: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.red_font{
  color: $red-color;
}
.green_font{
  color: $green-color;
}
.yellow_font{
  color: $yellow-color;
}
.pencile_icon, .circle_check, .rotate_load, .circle_exclamation, .circle_xmark, .circle_plus{
  font-size: $font-size-16;
}

.pencile_icon{
  color: $font-color;
  margin-left: 10px;
}
.circle_check{
  color: $green-color;
}
.rotate_load{
  color: $font-color;
}
.circle_exclamation{
  color: $yellow-color;
}
.circle_xmark{
  color: $red-color;
}
.circle_plus{
  color: $font-color;
  margin-left: 10px;
}
/*----- Top navbar start -----*/
.top_navbar{
  background-color: $primary-color;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 10px 5px #00000040;
  z-index: 11;
  .hamburger_menu{
    display: none;
    box-shadow: none;
    outline: none;
    .hamburger_icon{
      font-size: 30px;
      color: $font-color;
    }
  }
  .navbar-nav{
    display: none;
  }
  .collapse:not(.show){
    display: block;
    
  }
  .navbar_profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logout_button{
      margin-left: 16px;
      // padding-left: 16px;
      border-left: 1px solid $border-color;
      button{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-20;
        color: $font-color;
        border-radius: 0;
        &:hover, &:focus, &:active{
          color: #ffffff !important;
          border: 1px solid $border-color !important;
          padding-right: 11px !important;
          border-left: none !important;
        }
      }
    }
  }
  

  /* profile menu */

  .profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    p {
      font-size: $font-size-10;
      color: $secondry-color;
      line-height: 1;
      margin-bottom: 5px;
    }
    h3 {
      font-size: $font-size-14;
      color: $font-color;
      line-height: 1;
      margin-top: 5px;
    }
    .img-box {
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }
  }
}

/*----- Top navbar end -----*/

/*----- Footer start -----*/
.footer{
  width: 100%;
  height: auto;
  background: $primary-color;
  border-top: 1px solid $border-color;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  h6{
    font-size: $font-size-14;
    font-weight: $font-weight-400;
    letter-spacing: 0.3px;
    margin-bottom: 0;
  }
  ul{
    display: flex;
    margin-bottom: 0;
    li{
      font-size: $font-size-14;
      font-weight: $font-weight-400;
      letter-spacing: 0.3px;
      margin-left: 60px;
    }
  }
}
/*----- Footer end -----*/

/*----- Layout container start -----*/
.layout_container{
  position: relative;
  min-height: calc( 100vh - 98px );
  max-height: auto;
  background-color: $primary-color;
}

/*----- Layout container start -----*/


/*----- Left menu start -----*/
.left_menu{
  position: absolute;
  width: 70px;
  min-height: calc( 100vh - 98px );
  max-height: 100%;
  background-color: $primary-color;
  border-right: 1px solid $border-color;
  box-shadow: 0 0 10px 5px #00000040;
  z-index: 3;
  transition: 0.3s ease-in-out;
  ul{
    margin-top: 24px;
    li{
      padding: 0 20px 20px 24px;
      a{
        font-size: $font-size-20;
        color: $font-color;
        
        &:hover, &:focus, &:active{
          color: #ffffff !important;
        }
        .left_menu_name{
          // display: none;
          font-size: $font-size-16;
          width: 100%;
          transition: 0.3s ease-in-out;
          overflow: hidden;
        }
      }
    }
  }
}
.full_left_menu{
  width: 200px;
}


/*----- Left menu start -----*/
.layout_page{
  padding-left: 70px;
  padding-bottom: 0px;
}

.file_listing{
  .upload_file_column{
    width: 25%;
    min-height: calc( 100vh - 98px );
    max-height: calc( 100vh - 98px );
    overflow-y: auto;
  }
  .folder_column{
    display: none;
    width: 16%;
    min-height: calc( 100vh - 98px );
    max-height: auto;
  }
  .listing_column{
    width: 75%;
    min-height: calc( 100vh - 98px );
    .file_table{
      max-height: calc( 100vh - 192px );
      overflow-y: auto;
    }
  }
}

.file_folder_listing{
  .upload_file_column{
    width: 21%;
  }
  .folder_column{
    display: block;
    width: 16%;
    ul{
      li{
        .outer_label{
          display: block;
          padding: 10px 20px;
          border-bottom: 1px solid $border-color;
          cursor: pointer;

          input[type=checkbox] {
            position: relative;
            border: 1px solid $gray-color;
            border-radius: $border-radius * 2;
            background: none;
            cursor: pointer;
            line-height: 0;
            outline: 0;
            padding: 0 !important;
            vertical-align: text-top;
            height: 20px;
            width: 20px;
            -webkit-appearance: none;
            &:hover{
              
            }
            &:checked{
              background-color: $secondry-color;
              border: 1px solid $secondry-color;
              &::before{
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                width: 4px;
                height: 10px;
                border: solid #FFF;
                border-width: 0 2px 2px 0;
                margin: -1px -1px 0 -1px;
                transform: rotate(45deg) translate(-50%, -50%);
                z-index: 2;
              }
            }
          }
          label{
            font-size: $font-size-14;
            letter-spacing: 0.3px;
            padding-left: 10px;
            cursor: pointer;
          }
        }
        &:first-child{
          .outer_label{
            background-color: #8799AB35;
            border-top: 1px solid $border-color;
          }
        }
      }
      .highlight {
        background-color: #0D6EFD35 !important;
      }
    }
  }
  .listing_column{
    width: 63%;
  }
}

/*----- Upload file card start -----*/
.upload_file_card{
  width: 100%;
  height: auto;
  background: linear-gradient(150deg, #0D6EFD15, #0D6EFD00);
  box-shadow: 0px 0px 5px 0px #00000070;
  border-radius: 16px;
  margin-bottom: 20px;
  h6{
    color: $font-color;
  }
  p{
    font-size: $font-size-12;
    font-weight: $font-weight-400;
    color: $font-color;
    
  }
  .upload_file_box{
    width: 100%;
    height: auto;
    border: 1px dashed #B6C6E350;
    border-radius: $border-radius * 8;
    background-color: #28374B15;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    .upload_file_icon{
      font-size: 40px;
      color: $font-color;
      margin-bottom: 20px;
    }
    p{
      font-size: $font-size-14;
    }
    input{
      display: block !important;
      height: 100%;
      width: 100%;
      top: 0px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
}


/*----- Upload file card end -----*/

.browse_file_btn{
  width: 100%;
  height: auto;
  color: $font-color !important;
  background-color: #8799AB35 !important;
  border-radius: 50px !important;
  transition: 0.3s ease-in-out !important;
  overflow: hidden;
  position: relative;
  &:hover, &:focus, &:active{
    color: #ffffff !important;
    background-color: $gray-color !important;
  }
  input{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.upload_file_btn{
  width: 100%;
  height: auto;
  color: $font-color !important;
  background-color: #0D6EFD35 !important;
  border-radius: 50px !important;
  transition: 0.3s ease-in-out !important;
  &:hover, &:focus, &:active{
    color: #ffffff !important;
    background-color: #0D6EFD !important;
  }
}
.back_btn{
  width: 38px;
  height: 38px;
  color: $font-color !important;
  border-radius: $border-radius * 4 !important;
  box-shadow: none !important;
  transition: 0.3s ease-in-out !important;
  &:hover, &:focus, &:active{
    color: #ffffff !important;
    background-color: #0D6EFD35 !important;
  }
}
.border_right{
  border-right: 1px solid $border-color;
}
.search_box{
  position: relative;
  input{
    width: 250px !important;
    height: 36px;
    height: auto;
    font-size: $font-size-14;
    color: $gray-color !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border: 1px solid $border-color !important;
    border-radius: $border-radius * 4;
    padding-left: 36px;
    transition: 0.3s ease-in-out;
    &::placeholder {
      color: $gray-color !important;
    }
    &:hover, &:focus, &:active{
      color: #ffffff !important;
      border: 1px solid $font-color !important;
    }
  }
  .search-icon{
    position: absolute;
    float: right;
    font-size: $font-size-16;
    top: 10px;
    left: 10px;
  }
}

.upload_file_start{
  width: 100%;
  text-align: center;
  h6{
    font-size: 18px;
    margin-top: 30px;
  }
}


/*----- Listing Table start -----*/
.listing_table{
  // border-top-left-radius: $border-radius * 4;
  // border-top-right-radius: $border-radius * 4;
  border-radius: $border-radius * 4;
  .table{
    background: linear-gradient(150deg, #0D6EFD15, #0D6EFD00);
    margin-bottom: 0;
    thead{
      th{
        font-size: $font-size-12;
        font-weight: $font-weight-500;
        text-transform: uppercase;
        color: $font-color !important;
        background-color: #0D6EFD15 !important;
        border-bottom: none;
        padding: 10px 12px !important;
        &:first-child{
          padding-left: 20px !important;
        }
        &:last-child{
          padding-right: 20px !important;
        }
        .sorting{
          position: relative;
          margin-left: 5px;
          .fa-caret-up, .fa-caret-down{
            font-size: $font-size-12;
            position: absolute;
            cursor: pointer;
            left: 0;
          }
          .fa-caret-up{
            top: 0;
          }
          .fa-caret-down{
            bottom: 2px;
          }
        }
      }
    }
    tbody{
      td{
        font-size: $font-size-14;
        font-weight: $font-weight-400;
        color: $font-color !important;
        background-color: transparent !important;
        border-color: $border-color;
        padding: 10px 12px !important;
        &:first-child{
          border-left: 1px solid $border-color;
          padding-left: 20px !important;
        }
        &:last-child{
          border-right: 1px solid $border-color;
          padding-right: 20px !important;
        }
        .td_risk{
          font-weight: $font-weight-500;
        }
      }
    }
  }
}

.table_row_count{
  .totalCount{
    font-size: $font-size-14;
    font-weight: $font-weight-400;
    color: $font-color !important;
    border: none;
  }
  select{
    font-size: $font-size-14;
    font-weight: $font-weight-400;
    color: $font-color !important;
    border: 1px solid $border-color;
    background-color: transparent !important;
  }
  
}
.table_pagination{
  ul{
    li{
      border: 1px solid $border-color;
      border-right: none;
      span, a{
        background-color: transparent !important;
        color: #ffffff !important;
      }
      &:first-child{
        border-top-left-radius: $border-radius * 4;
        border-bottom-left-radius: $border-radius * 4;
      }
      &:last-child{
        border-top-right-radius: $border-radius * 4;
        border-bottom-right-radius: $border-radius * 4;
        border-right: 1px solid $border-color;
      }
      &:hover, &:focus, &:active{
        color: #ffffff !important;
        background-color: #28374B !important;
      }
      a{
        font-size: $font-size-14;
        font-weight: $font-weight-400;
        color: $font-color !important;
        border: none;
        padding: 8px 14px;
        box-shadow: none !important;
      }
    }
    &>.active{
      background-color: #28374B !important;
      box-shadow: 0px 0px 10px 5px #00000020;
      .page_link_new{
        font-weight: $font-weight-400 !important;
        color: #ffffff !important;
        
      }
    }
  }
}
/*----- Listing Table end -----*/

.listing_tab_ul{
  border: 1px solid $border-color;
  border-radius: 50px;
  button{
    font-size: $font-size-14;
    color: $font-color !important;
    background-color: transparent !important;
    padding: 12px 16px;
    border-radius: 50px !important;    
    img{
      margin-right: 10px;
    }
  }
  .active{
    background-color: #0D6EFD30 !important;
    box-shadow: 0px 0px 10px 5px #00000040;
  }
}

.selected_folder_heading{
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid $border-color;
  .selected_folder_name{
    span{
      font-size: $font-size-16;
      font-weight: $font-weight-500;
      letter-spacing: 0.3px;
      margin-left: 10px;
    }
  }
}

.modal_width{
  max-width: 600px !important;
  .modal-content{
    width: 600px;
    border-radius: $border-radius * 8;
    background: linear-gradient(107deg, #0F2A51 4.12%, #203247 99.47%);
    .modal-header{
      border-top-left-radius: $border-radius * 8;
      border-top-right-radius: $border-radius * 8;
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: none;
      background-color: #0D6EFD15;
      h6{
        font-weight: $font-weight-400;
        color: $font-color;
      }
      button{
        background: transparent url(/src/assets/images/modal_cross.svg) center/1em auto no-repeat;
        opacity: 1;
        box-shadow: none;
        &:hover, &:focus, &:active{
          opacity: 0.5;
        }
      }
    }
    .rst_selection_body{
      padding: 20px 30px;
    }
    .modal-footer{
      padding: 20px 30px;
      border-top: none;
    }
  }
}
.modal-backdrop {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.pdf_reference_modal{
  .modal-content{
    width: 600px;
    border-radius: 16px;
    background: linear-gradient(107deg, #0F2A51 4.12%, #203247 99.47%);
    .modal-header{
      padding: 17.5px 20px;
      border-radius: 16px 16px 0 0;
      background: rgba(13, 110, 253, 0.15);
      h1{
        font-size: 16px;
        color: #B6C6E3;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .btn-close{
        background: transparent url(/src/assets/images/modal_cross.svg) center / 1em auto no-repeat;
        opacity: 1;
        box-shadow: none;
        &:hover, &:focus, &:active{
          opacity: 0.5;
        }
      }
    }
  }
  .modal-body{
    padding: 30px;
    .modal_pdf_text{
      background-color: #F5F5F5;
      padding: 25px 20px 20px 20px;
      border-radius: 8px;
      border: 1px solid rgba(182, 198, 227, 0.30);
      p{
        color: #203247;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
      }
      .modal_pdf_footer{
        .line_number_box, .page_number_box{
          p{
            font-size: 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }  
}
/* === CSS FILTER EFFECTS === */
.firstBlur{
  margin:50px 20px 0;
  border: solid 1px black;
  padding:20px;
  position:relative;
}
.firstBlur.modalBlur > *:not(.modal) {
  -webkit-filter: blur(8px);
}
.firstBlur.modalDesaturate > *:not(.modal) {
  -webkit-filter: saturate(0%);
}

.btn_cancel{
  width: 80px;
  height: 36px;
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  letter-spacing: 0.3px;
  color: $font-color;
  background-color: #8799AB35;
  border-radius: $border-radius * 20;
  margin: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 4px #00000005;
  &:hover, &:focus, &:active{
    color: #FFFFFF;
    background-color: $gray-color;
  }
}
.btn_save{
  width: 80px;
  height: 36px;
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  letter-spacing: 0.3px;
  color: $font-color;
  background-color: #0D6EFD35;
  border-radius: $border-radius * 20;
  margin: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 4px #00000005;
  &:hover, &:focus, &:active{
    color: #FFFFFF;
    background-color: $secondry-color;
  }
}
.btn_re_upload{
  width: 132px;
  height: 36px;
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  letter-spacing: 0.3px;
  color: $font-color;
  background-color: #0D6EFD35;
  border-radius: $border-radius * 20;
  margin: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 4px #00000005;
  &:hover, &:focus, &:active{
    color: #FFFFFF;
    background-color: $secondry-color;
  }
}
.upl_scor_profile{
  width: 100%;
  height: 36px;
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  letter-spacing: 0.3px;
  color: $font-color;
  background-color: #B273F040;
  border-radius: $border-radius * 20;
  margin-top: 38px;
  transition: 0.3s ease-in-out;
  position: relative;
  &:hover, &:focus, &:active{
    color: #FFFFFF;
    background-color: #B273F0;
  }
}

.btn_coming_soon{
  width: auto;
  height: auto;
  padding: 7px 10px;
  font-size: 8px;
  font-weight: $font-weight-700;
  line-height: 8px;
  letter-spacing: 1px;
  color: $font-color;
  background-color: #101924;
  border-radius: $border-radius * 20;
  position: absolute;
  top: 65%;
  right: 8%;
}

.form_dropdown{
  height: 36px;
  font-size: $font-size-14;
  color: $font-color;
  border: 1px solid $font-color;
  background-color: transparent;
  border-radius: $border-radius * 4;
  box-shadow: none !important;
  background: url(/src/assets/images/dropdown_arrow.svg) no-repeat;
  background-position: right 0.75rem center;
  option{
    background-color: $primary-color !important;
  }
}

.add_user_modal_input{
  height: 36px;
  font-size: $font-size-14;
  color: $font-color;
  border: 1px solid $font-color;
  background-color: transparent;
  border-radius: $border-radius * 4;
  box-shadow: none !important;
  
}
.user_delete{
  font-size: 16px;
  color: $font-color;
  &:hover{
    color: $red-color;
  }
}
.btn_disabled_nav_item{
  a.btn_disabled{
    color: #8799AB !important;
    background-color: #28374B20 !important;
    box-shadow: none !important;
    
  }
  &:hover{
    a.btn_disabled{
      transition: 0.3s ease-in-out;
      color: #8799AB !important;
      background-color: #28374B20 !important;
      box-shadow: none !important;
      img{
        opacity: 0.7 !important;
      }
    }
  }
}

.error_div{
  width: 100%;
  height: auto;
  background-color: #E8534715;
  padding: 16px 20px;
  border-radius: $border-radius * 8;
  p{
    font-size: $font-size-14;
    color: $red-color;
    margin: 0;
  }
}

.or_separator{
  display:flex;
  align-items: center;
  margin: 16px 0;
}
.or_separator .or_separator_line{
  height: 1px;
  flex: 1;
  background-color: $border-color;
}
.or_separator p{
  font-size: $font-size-12;
  color: $font-color;
  padding: 0 25px;
  margin-bottom: 0;
}

.upload_file_modal_card{
  background: none !important;
  box-shadow: none !important;
  .upload_file_box{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .or_separator .or_separator_line{
    background-color: #B6C6E350 ;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #141D2A;
  border: 1px solid #28374B;
  -webkit-border-radius: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8799AB30;
}





/* menu (the right one) */

.profile_menu {
  position: absolute;
  top: calc(100% + 24px);
  right: 16px;
  width: 200px;
  min-height: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
  &::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 1;
  }
  ul{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: $primary-color;
    // opacity: 0.7;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    li{
      list-style: none;
      &:hover{
        background: #eee;
      }
      a{
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        gap: 6px;
        i{
          font-size: 1.2em;
        }
      }
    }
  }
}


 

/*  Risk Dashboard css start   */

.risk_dashboard_header{
  background-color: $primary-color;
  border-bottom: 1px solid $border-color;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.doc_type{
  width: auto;
  max-width: 33px;
  height: 44px;
}
.popper{
  background-color: #28374B !important;
  border-color: $primary-color !important;
  border-radius: 10px !important;
  color: #FFFFFF;
  z-index: 1 !important;
  box-shadow: 5px 5px 5px #00000050 !important;
  #arrow{
    // background: #0D6EFD !important;
    &::before{
      background: #28374B !important;
    }
  }
}
.doc_name{
  font-weight: $font-weight-500;
  letter-spacing: 0.3px;
  overflow: hidden;
  max-width: calc( 100vh - 200px );
  text-overflow: ellipsis;
  // width: fit-content;
  white-space: nowrap;
}
.doc_contract_type{
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  line-height: 10px;
}

.risk_dashboard_menu{
  height: auto;
  ul{
    display: flex;
    li{
      padding: 0 10px;
      
      a{
        font-size: $font-size-14;
        color: $gray-color !important;
        height: 44px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        background-color: #28374B15;
        border: 1px solid $border-color;
        border-radius: 50px;
        img{
          opacity: 0.7;
          margin-right: 10px;
        }
      }
      &:hover{
        a{
          transition: 0.3s ease-in-out;
          color: #FFFFFF !important;
          background-color: #28374B !important;
          box-shadow: 0px 0px 10px 5px #00000020;
          img{
            opacity: 1;
          }
        }
      }
    }
    &>.risk_dashboard_menu_active{
      a{
        color: #FFFFFF !important;
        background-color: #28374B !important;
        box-shadow: 0px 0px 10px 5px #00000020;
        img{
          opacity: 1;
        }
      }
    }
  }
}


.risk_db_card{
  width: 100%;
  height: 400px;
  min-height: 400px;
  max-height: auto;
  border: 1px solid;
  border-radius: $border-radius * 8;
  box-shadow: 0 0 5px #00000070;
  // overflow-y: auto;
  // overflow-x: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
  .risk_db_card_header{
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
    .card_header_left{
      letter-spacing: 0.7px;
    }
  }
  .risk_db_card_body{
    height: 87%;
    overflow-y: auto;
    overflow-x: hidden;
    .risk_card_table{
      table{
        width: 100%;
        border-radius: $border-radius * 2;
        overflow: hidden;
        tbody{
          tr{
            border-bottom: 1px solid #3B242A;
            td{
              padding: 10px 20px;
              font-size: $font-size-14;
              font-weight: $font-weight-400;
              letter-spacing: 0.3px;
              &:first-child{
                span{
                  cursor: pointer;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
            &:last-child{
              border: none;
            }
          }
        }
      }
    }
  }
}

.row_height_responsive{
  min-height: calc(100vh - 290px);
  max-height: calc(100vh - 190px);
  overflow-y: auto;
}
.risk_chart_card{
  background: linear-gradient(151deg, rgba(13, 110, 253, 0.17) 0%, rgba(13, 110, 253, 0.00) 100%);
  border-color: $border-color;
  .risk_db_card_header{
    background-color: #0D6EFD15;
    padding: 16px;
  }
  .risk_db_card_body{
    padding: 10px 16px;
    .risk_chart_div{
      display: flex;
      justify-content: center;
      .risk_chart{
        // width: 100% !important;
        .vue-apexcharts{
          // width: 100% !important;
          overflow: hidden;
          .apexcharts-canvas {
            // width: 100% !important;
            overflow: hidden;
            .apexcharts-svg{
              // width: 100%;
              foreignObject{
                display: none;
                .apexcharts-legend{
                  display: none;
                  // width: 80%;
                  // margin-left: 10%;
                  // display: flex;
                  // justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
    .risk_type{
      width: 100%;
      table{
        width: 100%;
        border-radius: $border-radius * 2;
        overflow: hidden;
        tr{
          td{
            width: 33.3333%;
            text-align: center;
            padding: 10px;
            &:first-child{
              background: #E8534710;
              color: $red-color;
            }
            &:nth-child(2){
              background: #F4BD0E10;
              color: $yellow-color;
            }
            &:last-child{
              background: #1EE0AC10;
              color: $green-color;
            }
            p{
              font-size: $font-size-10;
            }
            h4{
              font-size: $font-size-14;
            }
          }
        }
      }
    }
  }
}


.high_risk_card{
  background: linear-gradient(147deg, rgba(232, 83, 71, 0.15) 0%, rgba(232, 83, 71, 0) 100%);
  border-color: #E8534710;
  .risk_db_card_header{
    background-color: #E8534710;
    padding: 14px 20px;
  }
  .risk_db_card_body{
    table{
      tbody{
        tr{
          border-bottom: 1px solid #3B242A;
        }
      }
    }
  }
}

.mid_risk_card{
  background: linear-gradient(147deg, rgba(244, 189, 14, 0.15) 0%, rgba(244, 189, 14, 0) 100%);
  border-color: #F4BD0E10;
  .risk_db_card_header{
    background-color: #F4BD0E10;
    padding: 14px 20px;
  }
  .risk_db_card_body{
    table{
      tbody{
        tr{
          border-bottom: 1px solid #50481D30;
        }
      }
    }
  }
}

.low_risk_card{
  background: linear-gradient(147deg, rgba(30, 224, 172, 0.15) 0%, rgba(30, 224, 172, 0) 100%);
  border-color: #1EE0AC10;
  .risk_db_card_header{
    background-color: #1EE0AC10;
    padding: 14px 20px;
  }
  .risk_db_card_body{
    table{
      tbody{
        tr{
          border-bottom: 1px solid #112F33;
        }
      }
    }
  }
}



/*  Risk Dashboard css end   */


button.btn_disabled, a.btn_disabled{
  position: relative;
  background: #28374B40 !important;
  box-shadow: 0px 0px 10px 5px #00000040;
  .btn_coming_soon{
    width: auto;
    height: auto;
    padding: 7px 10px;
    font-size: 8px;
    font-weight: $font-weight-700;
    line-height: 8px;
    letter-spacing: 1px;
    color: #101924;
    background-color: $font-color;
    border-radius: $border-radius * 20;
    position: absolute;
    top: -30%;
    right: 0%;
    z-index: 11;
  }
}


/*----- Redline & Review start -----*/

.document_view{
  border-radius: $border-radius * 8;
  overflow: hidden;
  margin-top: 16px;
  // margin-left: 18px;
  .tox-tinymce{
    min-height: calc(100vh - 290px);
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

.review_tabs{
  border-bottom: 1px solid $border-color;
  padding-bottom: 16px;
  margin-bottom: 16px;
  .review_tab_ul{
    margin-top: 16px;
    li{
      width: 33.3333%;
      button{
        width: 100% !important;
        img{
          margin-right: 10px;
        }
      }
      .active{
      }
            
    }
  }
}

.insights_tab_class{
  width: 100%;
  .insights_comming_soon{
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background: linear-gradient(137deg, rgba(13, 110, 253, 0.08) 0%, rgba(13, 110, 253, 0.00) 100%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
    text-align: center;
    img{
      margin: 140px 0 0 0;
    }
  }
}

.review_accordian{
  min-height: calc(100vh - 290px);
  max-height: calc(100vh - 290px);
  overflow-y: auto;
  /* Scrollbar Styling */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #141D2A;
    border: 1px solid #28374B;
    -webkit-border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8799AB30;
  }
  .accordion{
    .accordion-item{
      border: none;
      background-color: transparent;
      .accordion-button{
        font-size: $font-size-16;
        font-weight: $font-weight-500;
        letter-spacing: 0.3px;
        color: #FFFFFF;
        border-radius: 8px;
        &::before{
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          margin-right: 10px;
          content: "";
          background-image: url(/src/assets/images/accordion_button_arrow.svg);
          background-repeat: no-repeat;
          background-position-y: center;
          background-size: 14px;
          transform: rotate(0);
          transition: transform .2s ease-in-out;
        }
        &.collapsed {
          margin-bottom: 16px;
          &::before {
            transform: rotate(-180deg);
          }
        }
        &::after{
          content: none;
        }
        .acc_clouse_name{
          font-size: 16px;
          font-weight: $font-weight-500;
          letter-spacing: 0.3px;
        }
      }
      .clause_acc_collapse{
        position: relative;
        background-color: #28374B;
        border-radius: $border-radius * 8;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        padding: 20px;
        margin-top: 16px;
        margin-bottom: 20px;
        p{
          font-size: $font-size-14;
        }
        .redraft_chat_btn_div{
          position: absolute;
          bottom: 20px;
          right: 20px;
          .popper{
            width: max-content !important;
          }
          .redraft_chat_btn{
          
            width: 30px;
            height: 30px;
            background-color: $font-color;
            border-radius: 20px;
            padding: 0;
            box-shadow: none;
            // transition: 0.3s ease-in-out;
            span{
              // font-size: $font-size-12;
              // color: $primary-color;
              // font-weight: $font-weight-600;
              // margin-left: 4px;
              // display: none;
              // transition: 0.3s ease-in-out;
            }
            &:hover{
              // width: auto;
              // padding-left: 8px;
              // padding-right: 8px;
              background-color: #FFFFFF;
              // transition: 0.3s ease-in-out;
              // span{
              //   display: inline-block;
              //   transition: 0.3s ease-in-out;
              // }
            }
          }
        }
        .accordion-body {
          p, h6{
            color: #B6C6E3;
          }
        }
      }
    }

    .acc_red{
      .accordion-button{
        &:not(.collapsed){
          border: 1px solid $red-color;
          background: #E8534720;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
        &.collapsed {
          border: 1px solid #E8534710;
          background: #E8534720;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
      }
      .clause_acc_collapse{
        border: 1px solid $red-color;
      }
    }
    .acc_yellow{
      .accordion-button{
        &:not(.collapsed){
          border: 1px solid $yellow-color;
          background: #F4BD0E30;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
        &.collapsed {
          border: 1px solid #F4BD0E10;
          background: #F4BD0E30;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
      }
      .clause_acc_collapse{
        border: 1px solid $yellow-color;
      }
    }
    .acc_green{
      .accordion-button{
        &:not(.collapsed){
          border: 1px solid $green-color;
          background: #1EE0AC30;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
        &.collapsed {
          border: 1px solid #1EE0AC10;
          background: #1EE0AC30;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.70);
        }
      }
      .clause_acc_collapse{
        border: 1px solid $green-color;
      }
    }
  }
}


/*----- Redline & Review ennd -----*/


/*----- Login page css start -----*/
.height_layout_container{
  height: auto !important;
}
.login_page_container{
min-height: 100vh;
  background: url("/src/assets/images/login_background.svg") no-repeat;
  background-position: 100% 400px;
  background-size: contain;
}
.login_card{
  background: linear-gradient(151deg, rgba(13, 110, 253, 0.17) 0%, rgba(13, 110, 253, 0.00) 100%);
  border: 1px solid #0D6EFD50;
  border-radius: $border-radius * 16;
  backdrop-filter: blur(12px);
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  .login_logo{
    h5{
      font-weight: $font-weight-400 !important;
      color: #FFFFFF;
    }
  }
  img{
    margin-bottom: 48px;
  }
  h4{
    font-weight: $font-weight-500;
  }
  p{
    font-size: $font-size-14;
    font-weight: $font-weight-400;
    margin-bottom: 32px;
  }
  .login_form{
    label{
      font-size: $font-size-14;
      font-weight: $font-weight-400;
    }
    .form_input{
      height: 44px;
      font-size: $font-size-14;
      font-weight: $font-weight-400;
      color: $gray-color;
      background: none !important;
      background-color: transparent !important;
      border: 1px solid $border-color;
      border-radius: 50px;
      box-shadow: none;
      padding-left: 24px;
      padding-right: 24px;
      transition: 0.3s ease-in-out;
      &:hover, &:focus, &:active{
        color: #ffffff !important;
        border: 1px solid $font-color;
        background-color: transparent !important;
      }
    }
    .form_pass_input{
      position: relative;
      
      .pass_eye{
        position: absolute;
        top: 15px;
        right: 24px;
        cursor: pointer;
      }
    }
    
    button{
      font-size: $font-size-14;
      font-weight: $font-weight-500;
      letter-spacing: 0.3px;
      color: #FFFFFF !important;
      width: 100%;
      height: 44px;
      padding-left: 16px !important;
      padding-right: 16px !important;
      background-color: $secondry-color;
      border: 1px solid $secondry-color;
      border-radius: 50px;
      .superscript{
        font-size: $font-size-10;
        top: -4px;
      }
    }
    .forgot_pass{
      font-size: $font-size-12;
      color: $font-color;
      letter-spacing: 0.3px;
      line-height: 16px;
    }
    .remember_label{
      label{
        font-size: $font-size-12;
        color: $font-color;
        letter-spacing: 0.3px;
        line-height: 16px;
      }
    }
  }
}

/*----- Login page css end -----*/



/*----- Chat Bot css start -----*/

.chatbot_tab{
  width: 100%;
  height: auto;
  background-color: #28374B15;
  border: 1px solid $border-color;
  border-radius: $border-radius * 8;
  overflow: hidden;
}

.app-inner-layout__top-pane{
  width: 100%;
  background-color: #13294A;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: left;
  padding: 10px 20px;
}

.chat-wrapper{
  min-height: 410px;
  min-height: calc(100vh - 410px);
  max-height: calc(100vh - 410px);

  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #141D2A;
    border: 1px solid #28374B;
    -webkit-border-radius: 10px;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8799AB30;
  }
  
  .chat-box-wrapper{
    display: flex;
    align-items: flex-end;
    clear: both;
    padding: 16px;

    .avatar-icon-wrapper{
      display: inline-block;
      margin-right: 0.1rem;
      position: relative;
      .avatar-icon{
        display: block;
        width: 44px;
        height: 44px;
        transition: all .2s;
        opacity: 1;
        border-radius: 50px;
        &.rounded{
          border-radius: 50px !important;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .avatar-icon-lg{
        border: none;
        overflow: hidden;
      }
    }
    .chat-box{
      font-size: $font-size-12;
      font-weight: $font-weight-400;
      box-shadow: 0 0 0 transparent;
      position: relative;
      opacity: 1;
      background: #28374B;
      border: 0;
      padding: 14px 20px;
      border-radius: $border-radius * 8;
      border-bottom-left-radius: 0;
      flex: 1;
      display: flex;
      max-width: 90%;
      min-width: 50%;
      text-align: left;
      margin-left: 20px;
    }
  }
  .chat-box-wrapper-right{
    text-align: right;
    justify-content: flex-end;
    
    .chat-box {
      background-color: #0D6EFD15;
      border-radius: $border-radius * 8;
      border-bottom-right-radius: 0;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .chat-box-wrapper-gradient{
    .chat-box {
      flex-direction: column;
      background: linear-gradient(126deg, rgba(13, 110, 253, 0.30) 0%, rgba(178, 115, 240, 0.30) 100%);
    }
  }
}


.copy-insert-btn{
  display: flex;
  margin: 16px 0 0 0;
  button{
    width: 82px;
    height: auto;
    font-size: $font-size-12;
    letter-spacing: 0.3px;
    color: #FFFFFF !important;
    background: #B6C6E330;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .copy-insert-icon{
      margin-right: 10px;
    }
    &:hover, &:focus, &:active{
      color: $green-color !important;
      background: #1EE0AC30;
    }
    &:first-child{
      margin-right: 20px;
    }
  }
}
.app-inner-layout__bottom-pane{
  padding: 10px 20px;
  background: #13294A;
  
  input{
    font-size: $font-size-12;
    font-weight: $font-weight-500;
    letter-spacing: 0.7px;
    color: $font-color;
    width: 85%;
    height: 36px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #B6C6E310 !important;
    border: 1px solid #B6C6E310;
    outline: none !important;
    box-shadow: none !important;
    &:hover, &:focus, &:active{
      color: $green-color !important;
      border: 1px solid $gray-color;
    }
    &::placeholder {
      color: #B6C6E3;
      opacity: 1; /* Firefox */
    }
    &::-ms-input-placeholder { /* Edge 12-18 */
      color: #B6C6E3;
    }
  }
  .chat_send{
    font-size: 24px;
    color: $font-color;
    padding-right: 10px;
    &:hover, &:focus, &:active{
      color: $secondry-color !important;
    }
  }
}
/*----- Chat Bot css end -----*/

// @keyframes rotate {
//   from {
//       transform: rotate(0deg);
//   }
//   to { 
//       transform: rotate(360deg);
//   }
// }


// @-webkit-keyframes rotate {
//   from {
//       -webkit-transform: rotate(0deg);
//   }
//   to { 
//       -webkit-transform: rotate(360deg);
//   }
// }

// .load {
//   width: 16px;
//   height: 16px;
//   border:solid 2px $secondry-color;
//   border-radius: 50%;
//   border-right-color: transparent;
//   border-bottom-color: transparent;
//   -webkit-transition: all 0.5s ease-in;
//   -webkit-animation-name: rotate; 
//   -webkit-animation-duration: 1.0s; 
//   -webkit-animation-iteration-count: infinite;
//   -webkit-animation-timing-function: linear;
  
//   transition: all 0.5s ease-in;
//   animation-name: rotate; 
//   animation-duration: 1.0s; 
//   animation-iteration-count: infinite;
//   animation-timing-function: linear; 
// }

/*----- Swal popup css start -----*/
.swal2-popup{
  background: linear-gradient(151deg, rgba(13, 110, 253, 0.17) 0%, rgba(13, 110, 253, 0.00) 100%) !important;
  border-radius: $border-radius * 8;
  backdrop-filter: blur(12px);
}
.swal2-title, .swal2-html-container{
  color: $font-color !important;
}
.swal2-actions{
  display: none !important;
}
/*----- Swal popup css end -----*/

.doc_loader_td{
  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
  }
  
  .load {
    width: 16px;
    height: 16px;
    border:solid 2.5px $secondry-color;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 3.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    transition: all 0.5s ease-in;
    animation-name: rotate; 
    animation-duration: 3.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
}


/*--- CK Editop start --*/

.ck-content{
  min-height: 600px !important;
  height: calc(100vh - 120px);
  overflow-y: auto !important;
}

/*--- CK Editop end --*/
.add_user_btn{
  width: 35px !important;
  height: 35px !important;
  border-radius: 4px !important;
  padding: 0 !important;
}

/*** Vue3Popper Tooltip css start here ***/
:root {
  --popper-theme-background-color: #101924;
  --popper-theme-background-color-hover: #707172;
  --popper-theme-text-color: #fff;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #707172;
  --popper-theme-border-radius: 5px;
  --popper-theme-padding: 10px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
/*** Vue3Popper Tooltip css end here ***/

.clause_text_casey{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #B6C6E3;
  width: 85%;
  min-height: auto;
  max-height: 110px;
  overflow-y: auto;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(182, 198, 227, 0.062745098) !important;
  border: 1px solid rgba(182, 198, 227, 0.062745098);
  outline: none !important;
  box-shadow: none !important;
  
}

/* Scrollbar Styling */
.clause_text_casey::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.clause_text_casey::-webkit-scrollbar-track {
  background-color: #141D2A;
  border: 1px solid #28374B;
  -webkit-border-radius: 10px;
  border-radius: 0px;
}
.clause_text_casey::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8799AB30;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 419.98px) { 
  .review_tabs{
    .review_tab_ul{
      li{
        button{
          padding: 12px 12px !important;
          img{

          }
        }
      }
    }
  }
 }

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .review_accordian{
    min-height: 700px !important;
    height: calc(100vh - 180px);
  }
  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  // .navbar_profile{
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
  .doc_name{
    max-width: calc( 100vh - 150px ) !important;
  }
  .review_accordian{
    min-height: 550px;
    height: calc(100vh - 180px);
  }

  .file_listing{
    .upload_file_column{
      width: 35% !important;
    }
    .folder_column{
      display: none;
      width: 16%;
    }
    .listing_column{
      width: 65% !important;
    }
  }
  .file_folder_listing{
    .upload_file_column{
      width: 50% !important;
    }
    .folder_column{
      display: block;
      width: 48% !important;
    }
    .listing_column{
      width: 100% !important;
      border-top: 1px solid #203247;
    }
  }  
  .listing_div_component{
    .listing_tab_ul {
      width: max-content;
    }
  }

  .listing_tab_ul {
    button{
      padding: 12px 8px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .doc_name{
    // max-width: 100% !important;
    max-width: calc( 100vh - 300px ) !important;
  }
  .review_tabs{
    .review_tab_ul{
      li{
        button{
          padding: 12px 4px;
          img{

          }
        }
      }
    }
  }
  .file_listing{
    .upload_file_column{
      width: 25%;
    }
    .folder_column{
      display: none;
      width: 16%;
    }
    .listing_column{
      width: 75%;
    }
  }
  .file_folder_listing{
    .upload_file_column{
      width: 25%;
    }
    .folder_column{
      display: block;
      width: 25%;
    }
    .listing_column{
      width: 50%;
    }
  }  
  .listing_div_component{
    .listing_tab_ul {
      width: max-content;
      margin-top: 0px;
    }
  }
  .risk_dashboard_menu{
    padding-top: 16px !important;
  }
 }

 .ck {
  color: #0a0a0a; /* Text color */
}
// .ck.ck-editor__main>.ck-editor__editable{
//   background-color: $primary-color !important; /* Background color */
// }
@media (max-width: 1299.98px) {  
  .doc_name{
    max-width: calc( 100vh - 250px );
    
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }

@media (min-width: 1399.98px) { 
  .risk_db_card{
    height: 470px;
  }
  .chat_new_height{
    height: calc(100vh - 380px) !important;
  }
  .doc_name{
    max-width: calc( 100vh - 90px ) !important;
  }
}
@media (min-width: 1500.98px) { 
  .chat_new_height{
    height: calc(100vh - 420px) !important;
  }
  .doc_name{
    max-width: 100vh;
  }
  .tox-tinymce{
    min-height: calc(100vh - 220px) !important;
    max-height: calc(100vh - 220px) !important;
    overflow-y: auto;
  }
}


.chat_new_height{
  min-height: 280px;
  height: calc(100vh - 320px);
}


/**legal and commercial tab UI css start here**/
.tab_box{
  padding: 20px 15px 13px 15px;
  .btn_download{
    a{
      font-size: 14px;
      color: #8799AB !important;
      height: 44px;
      padding-left: 20px !important;
      padding-right: 20px !important;
      background-color: rgba(40, 55, 75, 0.0823529412);
      border: 1px solid #203247;
      border-radius: 10px;
      &:hover{
        transition: 0.3s ease-in-out;
        color: #FFFFFF !important;
        background-color: #28374B !important;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1254901961);
        img{
          opacity: 1;
        }
      }
    }
    img{
      opacity: 0.7;
      margin-right: 15px;
    }
  }
  .nav_pillsmain{
    width: 320px;
    border-radius: 50px;
    background-color: #141D2A;
    border: 1px solid #28374B;
    .nav-item{
      button.nav-link{
        min-width: 159px;
        font-size: 14px;
        color: #8799AB;
        padding: 12px 10px;
        img{
          opacity: 0.7;
          margin-right: 10px;
        }
        &.active{
          background-color: #13294A;
          border-radius: 50px;
          border-color: #13294A;
          color: #fff;
          img{
            opacity: 1;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.tab_body_box{
  margin: 0 15px 0 15px;
  padding: 20px 10px 13px 10px;
  border-top: 1px solid #203247;
  .tab-content{
    .tab_scroll_box{
      min-height: 10px;
      max-height: calc(100vh - 205px);
      overflow: auto;
      border-top: 1px solid #203247;
      border-bottom: 1px solid #203247;
      a.list-group-item {
        position: relative;
        display: block;
        padding: 10px;
        border: 1px solid #203247;
        color: #8799AB;
        text-decoration: none;         
        font-size: 14px;
        font-weight: 400;
        background-color: #101924;
        letter-spacing: 0.3px;
        line-height: normal;
        &:hover{
          background-color: #162230;
        }
        &.active{
          background-color: #13294A;
        }
      }
    }
    h4.tab_headingname{
      color: #8799AB;
      text-align: justify;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 146.667% */
      letter-spacing: 0.7px;
    }
    .q_and_a{
      .question_answer_box{
        border-bottom: 1px solid #203247;
        padding-bottom: 14px;
        margin-bottom: 10px;  
        border-radius: 8px 8px 0 0;      
        .table{
          border-color: #203247;
          background: linear-gradient(100deg, rgba(13, 110, 253, 0.15) 0%, rgba(13, 110, 253, 0.00) 100%);
          border-radius: 8px 8px 0 0;
          thead{
            tr{
              border-width: 0;
              border-radius: 8px 8px 0px 0px;
              background-color: rgba(13, 110, 253, 0.15);
              th{
                background: none;
                color: #B6C6E3;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.73px;
                text-transform: uppercase;
                padding: 11px;
                &:first-child{
                  border-width: 0;
                  border-top-left-radius: 8px;
                }
                &:last-child{
                  border-width: 0;
                  border-top-right-radius: 8px;
                }
              }
            }
          }
          tbody{
            tr{
              td{
                background: none;
                color: #B6C6E3;
                text-align: justify;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 157.143% */
                letter-spacing: 0.3px;
                padding: 10px;
                p{
                  text-align: justify;
                  margin-bottom: 0;
                  &.answer{
                    margin-bottom: 5px;
                    span{
                      font-weight: 700;
                    }
                  }
                  &.reference_box{
                    a{
                      color: #B6C6E3;
                      padding: 4px 8px;
                      border-radius: 14px;
                      background: rgba(182, 198, 227, 0.10);
                    }
                    
                  }
                }
              }
            }
          }
        }
      }
      &:last-child{
        .question_answer_box{
          margin-bottom: 0;
          border: none;
          padding: 0;
        }
      }
    }
    .scrollspy-css{
      position: relative;
      min-height: 10px;
      max-height: calc(100vh - 205px);
      overflow: auto;
      padding: 12px 10px;
      background-color: #141D2A;
    }
  }  
}

.ai_chat_box{
  background: linear-gradient(126deg, rgba(13, 110, 253, 0.30) 0%, rgba(178, 115, 240, 0.30) 100%) !important;
}
.copy_btn{
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  color: #B6C6E3;
  background: #B6C6E330;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  .copy-insert-icon{
    margin-right: 0px;
  }
  &:hover{
    background: #B6C6E3;
  }
}


.my-specific-swal .swal2-actions {
  display: block !important;
  .swal2-confirm{
    min-width: 159px;
    font-size: 14px;
    padding: 12px 10px;
    background-color: #13294A;
    border-radius: 50px;
    border-color: #13294A;
    color: #fff;
    cursor: pointer;
  }

}

.swal2-no-backdrop{
  pointer-events: none;
}